body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#arcade-clock {
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    color: #00FF00;
    text-shadow: 2px 2px 8px #FF0000;
}
